## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>


<style>
    .problem-builder-container {
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgb(0 0 0 / 20%) inset;
        background-color: #f2f2f2;
        padding: 20px;
        width: 95%;
        margin: 10px auto;
    }

    .problem-builder-container p.header {
        text-align: center !important;
        font-weight: bold;
    }

    .problem-builder-container p.problem-empty {
        font-weight: lighter;
        font-style: italic;
    }

    .problem-builder-container * {
        box-sizing: border-box;
    }

    .problem-builder-container .column {
        float: left;
        padding: 10px;
    }

    .problem-builder-container .left {
        width: 25%;
        border-right: 2px solid grey;
    }

    .problem-builder-container .right {
        width: 75%;
    }

    /* Clear floats after the columns */
    .problem-builder-container .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .problem-builder-container .right p {
        text-align: left;
    }

    .problem-builder-container .right label {
        width: 30%;
        max-width: 200px;
        display: inline-block;
        text-align: right;
        padding-right: 20px;
    }
    .problem-builder-container .right input[type=text] {
        width: 60%;
        height: 100%;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #b2b2b2;
        text-overflow: ellipsis;
    }

    .problem-builder-container input[type=checkbox] {
        vertical-align: middle;
        margin: 0 5px;
    }

    .problem-builder-container .choices {
        background-color: #bdc6ca8f;
        border-radius: 10px;
        padding: 10px 0px;
    }  
    
    .problem-builder-container .add-new-choice {
        text-align: center;
    } 

    .plus-button {
        border: 2px solid lightgrey;
        background-color: #fff;
        font-size: 16px;
        height: 2.5em;
        width: 2.5em;
        border-radius: 999px;
        position: relative;
    }

    .plus-button:after,
    .plus-button:before {
        content: "";
        display: block;
        background-color: grey;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .plus-button:before {
        height: 1em;
        width: 0.2em;
    }

    .plus-button:after {
        height: 0.2em;
        width: 1em;
    }

    .plus-button--small {
        font-size: 12px;
    }

    .plus-button--large {
        font-size: 22px;
    }

    .remove-choice {
        color: #f44336;
        cursor: pointer;
    }

    .remove-choice:hover {
        color: #f31a0b;
    }

    

</style>
<div class="problem-builder-container">
    <!-- <p class="problem-empty">
        El componente está vacío. Añade un nuevo ejercicio.
    </p> -->
    <div class="row">
        <div class="column left">
            <p class="header">Listado de Ejercicios</p>
            <ul class="list">
                <li>
                    <button id="question-id-99">Test Test Test</button>
                </li>
            </ul>
        </div>
        <div class="column right">
            <p class="header">Agrega/Selecciona un ejercicio para visualizar sus opciones.</p>
            <!-- <p>
                <label for="">Enunciado</label>
                <input type="text" id="" placeholder="Enunciado">
            </p>
            <p>
                <label for="">Enunciado</label>
                <input type="text" id="" placeholder="Enunciado">
            </p>
            <div class="choices">
                <p class="header">Alternativas</p>
                <p>
                    <label for=""><input type="checkbox" id="cbox1" value="first_checkbox"></label>
                    <input type="text" id="" placeholder="Ingrese Respuesta">
                    <span class="icon fa fa-times-circle remove-choice" aria-hidden="true"></span><span class="sr">"Borrar"</span>
                </p>

                <p>
                    <label for=""><input type="checkbox" id="cbox1" value="first_checkbox"></label>
                    <input type="text" id="" placeholder="Ingrese Respuesta">
                    <span class="icon fa fa-times-circle remove-choice" aria-hidden="true"></span><span class="sr">"Borrar"</span>
                </p>
                <div class="add-new-choice">
                    <button class="plus-button plus-button--large"></button>
                </div>
            </div> -->
        </div>
      </div>

</div>

<script>


    // TODO: Improve this index method
    var problem_index = 0;

    const build_multiplechoices = () => {
        build_question_button('Multiplechoices Problem', problem_index++);
        build_problem_header();
        build_choices_container();
    }

    const build_checkboxes = () => {
        build_question_button('Checkboxes Problem', problem_index++);
        build_problem_header();
        build_choices_container();
    }

    var build_problem = {
        'multiplechoices-response' : build_multiplechoices,
        'checkboxes-response' : build_checkboxes
    }

    const build_problem_header = () => {
        $('.problem-builder-container .column.right').html(
            build_question_text() + build_question_tip()
        ); 
    }

    const build_question_text = () => {
        let html = `
            <p>
                <label for="">Enunciado</label>
                <input type="text" id="" placeholder="Enunciado">
            </p>
        `;
        return html;
    }

    const build_question_tip = () => {
        let html = `
            <p>
                <label for="">Texto de Ayuda</label>
                <input type="text" id="" placeholder="Texto de Ayuda">
            </p>
        `;
        return html;
    }

    const build_choices_container = ( ) => {
        $('.problem-builder-container .column.right').append(
            `
                <div class="choices">
                    <p class="header">Alternativas</p>
                ` + build_choice() + `
                    <div class="add-new-choice">
                        <button class="plus-button plus-button--large"></button>
                    </div>
                </div>
            `
        );
        init_events();
    }

    const build_question_button = (name, index) => {
        $('.problem-builder-container .column.left ul.list').append(
            `
                <li>
                    <button id="question-id-` + index + `"">` + name + `</button>
                </li>
            `
        );
    }

    const build_choice = () => {
        return (
            `
            <p>
                <label for=""><input type="checkbox" id="" value=""></label>
                <input type="text" id="" placeholder="Ingrese Respuesta">
                <span class="icon fa fa-times-circle remove-choice" aria-hidden="true"></span><span class="sr">"Borrar"</span>
            </p>
            `
        )
    }

    
    const handle_remove_choice = () => (
        $('p span.remove-choice').click(({ target }) => {
            $(target).parent().remove();
        })
    );
    
    const handle_new_choice = () => {
        $('.add-new-choice button').click(() => {
            $(build_choice()).insertBefore( "div.add-new-choice" );
            handle_remove_choice();
        } );
    }
    
    const init_events = () => {
        handle_new_choice();
        handle_remove_choice();
    }
</script>