## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>

<style>
    .problem-builder-menu {
        padding: 10px;
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }

    .problem-builder-menu h3 {
        font-weight: bold;
        color: #009bdd;
        font-size: 18px;
    }

    .problem-builder-menu ul.new-problem-list li {
        display: inline-block;
    }

    .problem-builder-menu ul.new-problem-list button{
        font-size: 0.8em;
        margin-right: 15px;
        position: relative;
        display: inline-block;
        width: 150px;
        height: 40px;
        max-height: 60px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 7px;
        padding: 0;
        text-align: center;
        background: #009bdd;
        border-color: #009bdd;
        color: #fff;
    }

    .problem-builder-menu ul.new-problem-list button:hover,
    .problem-builder-menu ul.new-problem-list button:active {
        background: #0278ab;
        border-color: #0278ab;
    }
</style>

<div class="problem-builder-menu">
    <h3>
        ${_("Añadir nuevo Ejercicio")}
    </h3>
    <ul class="new-problem-list">
        <li class="new-problem-type">
            <button type="button" class="new-problem-btn" id="multiplechoices-response">
                ${_("Selección Múltiple")}
            </button>
        </li>
        <li class="new-problem-type">
            <button type="button" class="new-problem-btn" id="checkboxes-response">
                ${_("Casillas de Verificación")}
            </button>
        </li>
    </ul>
</div>

<script>
    $(function() {
        const PROBLEM_INIT = `<problem>`;
        const PROBLEM_END = `</problem>`;
        const MULTIPLECHOICE_INIT = `<multiplechoiceresponse>`;
        const MULTIPLECHOICE_END  = `</multiplechoiceresponse>`;
        const PROBLEM_HEADER_INIT = `<label>`
        var data = [];



        $('button.new-problem-btn').click(({target}) => build_problem[target.id]() );

        const init_data = () => {
            let xml = document.querySelector('.CodeMirror').CodeMirror;
            let xml_data = xml.getValue().split("\n");
            for(var i=0; i < xml_data.length; i++) {
                let value = xml_data[i].trim();
                if(value == PROBLEM_INIT) {
                    data = [];
                } else if (value == PROBLEM_END) {
                    break;
                } else {
                    if(value == MULTIPLECHOICE_INIT) {
                        while(value != MULTIPLECHOICE_END && i < xml_data.length) {
                            value = xml_data[i].trim();
                            if(value.substring(0,PROBLEM_HEADER_INIT.length) == PROBLEM_HEADER_INIT) {
                                console.log(`Problem header: ` + value);
                            }
                            i++;
                        }
                    }
                }
            }
            // $.each(xml_data, (index, line) => {
            //     let value = line.trim();
            //     console.log(value);
            // });
        }

        // Wait until CodeMirror is initialized
        (async() => {
            while(!document.querySelector('.CodeMirror'))
                await new Promise(() => setTimeout(init_data, 500));
        })();

    });
</script>