## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='templates/static_content.html'/>
<%page expression_filter="h"/>

<div class="wrapper-comp-editor" id="editor-tab">
    <section class="problem-editor editor" style="visibility: hidden; height: 0px; overflow: hidden">
        <textarea class="xml-box" rows="8" cols="40">${data}</textarea>
    </section>
    <%include file="templates/eolproblem/builder.html" />
    <%include file="templates/eolproblem/menu.html" />

</div>
<%include file="templates/widgets/metadata-edit.html" />